.nav {
    display: flex;
    justify-content: space-between;
}

.link {
    color: var(--white, white);
    padding: 0 1em;
    text-decoration: none;

    &:hover {
        color: var(--dark-blue, darkblue);
    }

    &--active.link {
        color: var(--light-blue, lightblue);
        pointer-events: none;
    }

}
