.header {
    align-items: center;
    background: var(--blue, navy);
    color: #133;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

.brand {
    color: #007;
    max-width: 10em;
    text-decoration: none;
}

.img {
    max-width: 3em;
    transition: transform .3s linear;

    &:hover {
        transform: rotateZ(5deg);
    }
}
