.footer {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
}

.img {
    transition: transform .3s linear;
    &:hover {
        transform: rotateZ(5deg);
    }
    /*float: right;*/
}
