*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --white: #E8F3EE;
  --orange: #D0804C;
  --blue: #2899A7;
  --light-blue: #60C4D8;
  --dark-blue: #18505A;
}

body {
    background-color: var(--white, white);
}

.header,
.content,
.footer {
    padding: 2em 1em;
}
.content {
    min-height: 80vh;
}
