*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --white: #E8F3EE;
  --orange: #D0804C;
  --blue: #2899A7;
  --light-blue: #60C4D8;
  --dark-blue: #18505A;
  --black: #007;
}



body {
    background-color: var(--white, white);
}

a {
    color: var(--dark-blue, navy);
}
